<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Late 1800's Census Data Brought to Life</h1>
  
  <p> </p>
  <p> </p>
  
  <p> Enter a search query below based on provided parameters </p>
  
  <p> </p>
  
  
  
  <div> 
	<img src= "\static\NY_google.JPG" alt="Overview of NYC">
  </div>


<p><a href="another">Go to the other page</a></p>
<p><a href="index">Go to the index page</a></p>

</body>



</html>

<!-- 

<div>{{data}}</div>

  <div>
    {% for n in data %}
    <div>{{n}}</div>
    {% endfor %}
  </div>
  
  <form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>
  
 -->