<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<h1>Late 1800's Census Data Brought to Life</h1>
  
  <p> </p>
  <p> </p>
  
  <p> Enter a search query below based on provided parameters </p>
  
  <p> </p>

<form method="POST" action="/select">
	<p>Select Element(s) to Return:</p>
	
	<select name="Select1">
    	<!--when you have a form and a number of boxes,  -->
		<option value="Resident">Residents</option>
		<option value="Address">Addresses</option>
		<option value="Education">Education Institutions</option>
		<option value="Occupation">Occupations</option>
		<option value="Transport_Mode">Modes Of Transportation</option>
	</select> 
<input type="submit" value="Add"></p>
</form>

		<div>
		<!--this is how you print a list in html -->
		<!--don't need to define selectionsVar earlier on-->

		{% for n in selectionsVar %}
		<div>{{n}}</div>
		{% endfor %}
		</div>
		

<form method="POST" action="/conditions">
	<!--this is text-->
	<p>With condition(s):</p>
	
	<select name="compareClass">
		<!--giving label to sublist of attributes-->
		<!--for loop going thru all the attributes for Resident-->
		<optgroup label="Resident Attributes">
			{% for i in range(0, lenRA)%}
			<option value={{rAS[i]}}>{{rAC[i]}}</option>
			{% endfor %}
		</optgroup>
		
		<optgroup label="Occupation Attributes">
			{% for i in range(0, lenOA)%}
			<option value={{oAS[i]}}>{{oAC[i]}}</option>
			{% endfor %}
		</optgroup>
		
		<optgroup label="Education Attributes">
			{% for i in range(0, lenEA)%}
			<option value={{eAS[i]}}>{{eAC[i]}}</option>
			{% endfor %}
		</optgroup>
		
		<optgroup label="Transportation Attributes">
			{% for i in range(0, lenTA)%}
			<option value={{tAS[i]}}>{{tAC[i]}}</option>
			{% endfor %}
		</optgroup>
		
		<optgroup label="Address Attributes">
			{% for i in range(0, lenEA)%}
			<option value={{aAS[i]}}>{{aAC[i]}}</option>
			{% endfor %}
		</optgroup>
	
	</select>
	
	<select name="compareSign">
		<option value="=">=</option>
		<option value="<"><</option>
		<option value=">">></option>
		<option value="!=">!=</option>
		<option value="contains">Contains</option>
		<option value=" ">All (no conditions)</option>
	</select>
	
	<input type="text" name="compareValue">
	
	<input type="submit" value="Add Condition"></p>

</form>

		<div>
		{% for n in conditionsVar %}
		<div>{{n}}</div>
		{% endfor %}
		</div>

<form method="POST" action="/grouping">
	<p>Indicate Data Ordering, Grouping, and Number of Records:</p>
	
	<select name="groupBy">
		
		{% if 'Resident' in selectionsVar %}
		<optgroup label="Resident Attributes">
			{% for i in range(0, lenRA)%}
			<option value={{rAS[i]}}>{{rAC[i]}}</option>
			{% endfor %}
		</optgroup>
		{% endif %}
		
		{% if 'Occupation' in selectionsVar %}
		<optgroup label="Occupation Attributes">
			{% for i in range(0, lenOA)%}
			<option value={{oAS[i]}}>{{oAC[i]}}</option>
			{% endfor %}
		</optgroup>
		{% endif %}
		
		{% if 'Education' in selectionsVar %}
		<optgroup label="Education Attributes">
			{% for i in range(0, lenEA)%}
			<option value={{eAS[i]}}>{{eAC[i]}}</option>
			{% endfor %}
		</optgroup>
		{% endif %}
		
		{% if 'Transport_Mode' in selectionsVar %}
		<optgroup label="Transportation Attributes">
			{% for i in range(0, lenTA)%}
			<option value={{tAS[i]}}>{{tAC[i]}}</option>
			{% endfor %}
		</optgroup>
		{% endif %}
		
		{% if 'Address' in selectionsVar %}
		<optgroup label="Address Attributes">
			{% for i in range(0, lenEA)%}
			<option value={{aAS[i]}}>{{aAC[i]}}</option>
			{% endfor %}
		</optgroup>
		{% endif %}

	</select>
	
	
<select name="orderBy">
		
		{% if 'Resident' in selectionsVar %}
		<optgroup label="Resident Attributes">
			{% for i in range(0, lenRA)%}
			<option value={{rAS[i]}}>{{rAC[i]}}</option>
			{% endfor %}
		</optgroup>
		{% endif %}
		
		{% if 'Occupation' in selectionsVar %}
		<optgroup label="Occupation Attributes">
			{% for i in range(0, lenOA)%}
			<option value={{oAS[i]}}>{{oAC[i]}}</option>
			{% endfor %}
		</optgroup>
		{% endif %}
		
		{% if 'Education' in selectionsVar %}
		<optgroup label="Education Attributes">
			{% for i in range(0, lenEA)%}
			<option value={{eAS[i]}}>{{eAC[i]}}</option>
			{% endfor %}
		</optgroup>
		{% endif %}
		
		{% if 'Transport_Mode' in selectionsVar %}
		<optgroup label="Transportation Attributes">
			{% for i in range(0, lenTA)%}
			<option value={{tAS[i]}}>{{tAC[i]}}</option>
			{% endfor %}
		</optgroup>
		{% endif %}
		
		{% if 'Address' in selectionsVar %}
		<optgroup label="Address Attributes">
			{% for i in range(0, lenEA)%}
			<option value={{aAS[i]}}>{{aAC[i]}}</option>
			{% endfor %}
		</optgroup>
		{% endif %}

	</select>
	
	
	<input type="text" name="numberOfRecords">
	
	<input type="submit" value="Submit Query"></p>
	
	<!--print out data from SQL query-->
	<div>
   {% for n in data %}
   <div>{{n}}</div>
	{% endfor %}		
	</div>
	
</form>

	<p> </p>

  <div> 
	<img src= "\static\NY_google.JPG" alt="Overview of NYC">
  </div>
  
 
<p><a href="another">Go to the other page</a></p>
<p><a href="home">Go to the Home page</a></p>
		
</body>


</html>



